.pc/
autom4te.cache/
bin/dvbcut
config.guess.dh-orig
config.log
config.status
config.sub.dh-orig
configure
debian/.debhelper/
debian/autoreconf.*
debian/debhelper-build-stamp
debian/dvbcut.debhelper.log
debian/dvbcut.substvars
debian/dvbcut/
debian/files
dvbcut.desktop
Makefile
src/*.o
src/*.qm
src/dvbcut
src/moc_*.cpp
src/qrc_icons.cpp
src/ui_*.h
